/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASEWIN 0
#define BASEMAC 1
#define SYMBOL 2
#define NAVI_WIN 3
#define NAVI_MAC 4
#define NUM 5
#define SYS 6

/ {
    behaviors {
        tpmt: tpmt {
            compatible = "zmk,behavior-hold-tap";
            label = "TPMT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            quick-tap-ms = <125>;
        };
        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };
        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
        win: win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            display-name = "Toggle to Win";
            bindings = <&macro_tap &tog_on BASEWIN &tog_off BASEMAC>;
        };
        mac: mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            display-name = "Toggle to Mac";
            bindings = <&macro_tap &tog_off BASEWIN &tog_on BASEMAC>;
        };        
        switch_win_on_win: switch_win_on_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp TAB>
                ;
        };
        switch_tab: switch_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp TAB>
                ;
        };
        terminal_terminate: terminal_terminate {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>
                ;
        };
        switch_terminal: switch_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp ESC>
                ;
        };
        goto_line: goto_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp G>
                , <&macro_release &kp LCTRL>
                ;
        };
        mac_home: mac_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LGUI>
                ;
        };
        mac_end: mac_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LGUI>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | BSPC  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // |  NUM  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |  ALT  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  SPACE |  | SPACE |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | GUI  | ALT  | CTRL |  SPACE |  | SYMBOL| CTRL | NAVI  | DELETE|

            display-name = "win";
            bindings = <
&kp ESC        &kp N1         &kp N2            &kp N3        &kp N4          &kp N5                               &kp N6     &kp N7         &kp N8         &kp N9        &kp N0                 &kp BSPC
&kp TAB        &kp Q          &kp W             &kp E         &kp R           &kp T                                &kp Y      &kp U          &kp I          &kp O         &kp P                  &kp BACKSLASH
&mo NUM        &kp A          &kp S             &kp D         &kp F           &kp G                                &kp H      &kp J          &kp K          &kp L         &kp SEMICOLON          &kp LALT
&kp LSHFT      &kp Z          &kp X             &kp C         &kp V           &kp B      &kp SPACE     &kp SPACE   &kp B      &kp N          &kp M          &kp COMMA     &kp DOT                &kp SLASH
                                                &kp LGUI      &kp LALT        &kp LCTRL  &kp SPACE     &mo SYMBOL  &kp RCTRL  &mo NAVI_WIN   &kp DELETE
            >;
        };

        mac_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | BSPC  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // |  NUM  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |  ALT  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  SPACE |  | SPACE |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | CTRL | ALT  | CMD  |  SPACE |  | SYMBOL| CTRL | NAVI  | DELETE|

            display-name = "mac";
            bindings = <
&kp ESC        &kp N1         &kp N2            &kp N3        &kp N4          &kp N5                               &kp N6     &kp N7         &kp N8         &kp N9        &kp N0                 &kp BSPC
&kp TAB        &kp Q          &kp W             &kp E         &kp R           &kp T                                &kp Y      &kp U          &kp I          &kp O         &kp P                  &kp BACKSLASH
&mo NUM        &kp A          &kp S             &kp D         &kp F           &kp G                                &kp H      &kp J          &kp K          &kp L         &kp SEMICOLON          &kp LALT
&kp LSHFT      &kp Z          &kp X             &kp C         &kp V           &kp B      &kp SPACE     &kp SPACE   &kp B      &kp N          &kp M          &kp COMMA     &kp DOT                &kp SLASH
                                                &kp LCTRL     &kp LALT        &kp LGUI   &kp SPACE     &mo SYMBOL  &kp RGUI   &mo NAVI_MAC   &kp DELETE
            >;
        };

        symbol_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |   (  |   )  |  #   |                   |  :   |  [    |   ]   |   '  |   -   |   +   |
            // |   ~   |  `  |  $  |  <   |   >  |   ^  |                   |  ;   |  {    |   }   |   "  |   /   |   *   |
            // | SHIFT |     |  %  |  &   |   =  |   _  |Prntscrn|  |       |  ,   |  .    |   |   |   ?  |   \   | SHIFT |
            //                     |      |      |      |        |  |       |      |  ALT  |       |

            display-name = "symbols";
            bindings = <
&kp F1     &kp F2             &kp F3       &kp F4     &kp F5           &kp F6                                &kp F7         &kp F8          &kp F9         &kp F10     &kp F11        &kp F12
&kp GRAVE  &kp EXCL           &kp AT       &kp LPAR   &kp RPAR         &kp HASH                              &kp COLON      &kp LBKT        &kp RBKT       &kp SQT     &kp MINUS      &kp PLUS
&kp TILDE  &kp GRAVE          &kp DOLLAR   &kp LT     &kp GT           &kp CARET                             &kp SEMI       &kp LBRC        &kp RBRC       &kp DQT     &kp SLASH      &kp ASTERISK
&kp LSHFT  &trans             &kp PERCENT  &kp AMPERSAND  &kp EQUAL    &kp UNDER    &kp PRINTSCREEN  &trans  &kp COMMA      &kp DOT         &kp PIPE       &kp QMARK   &kp NUBS       &kp RSHFT
                                           &trans     &trans           &trans       &trans           &trans  &trans         &trans         &trans
            >;
        };

        navigation_win_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |       |       |M-Click|       |       |       |
            // |       |     |     |  UP  |      | PGUP |                   |SCRL-UP|P-Click| MS-UP |S-Click|       |       |
            // | CTRL  |HOME |LEFT | DOWN |RIGHT |  END |                   |       |MS-LEFT| MS-DWN|MS-RGHT|       |       |
            // |SHIFT  |     |     |PGDOWN|      | PGDN |        |  |       |SCRL-DN|       |SCRLDWN|       |       |       |
            //                     |      | ALT  |      |        |  |       |       |       |       |

            display-name = "navi-win";
            bindings = <
&kp F1     &kp F2    &kp F3    &kp F4     &kp F5     &kp F6                          &kp F7                  &kp F8  &kp F9  &kp F10  &kp F11   &kp F12
&trans     &trans    &kp HOME  &kp UP     &kp END    &kp PG_UP                       &kp C_AC_SCROLL_UP      &trans  &trans  &trans   &trans    &trans
&kp LCTRL  &trans    &kp LEFT  &kp DOWN   &kp RIGHT  &trans                          &trans                  &trans  &kp RSHFT  &kp RSHFT   &trans    &trans
&kp LSHFT  &trans    &trans    &trans     &trans     &kp PG_DN  &trans    &trans     &kp C_AC_SCROLL_DOWN    &trans  &trans  &trans   &trans    &trans
                               &trans     &trans     &trans     &trans    &trans     &kp RCTRL               &trans  &trans
            >;
        };

        navigation_mac_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |      |      |      |      |                   |       |       |M-Click|       |       |       |
            // |       |     |CMD+<-|  UP  |CMD+->| PGUP |                   |SCRL-UP|P-Click| MS-UP |S-Click|       |       |
            // | CTRL  |HOME |LEFT  | DOWN |RIGHT |      |                   |       |MS-LEFT| MS-DWN|MS-RGHT|       |       |
            // |SHIFT  |     |      |PGDOWN|      | PGDN |        |  |       |SCRL-DN|       |SCRLDWN|       |       |       |
            //                      |      | ALT  |      |        |  |       |       |       |       |

            display-name = "navi-mac";
            bindings = <
&kp F1     &kp F2    &kp F3     &kp F4     &kp F5     &kp F6                          &kp F7                  &kp F8  &kp F9  &kp F10  &kp F11   &kp F12
&trans     &trans    &mac_home  &kp UP     &mac_end   &kp PG_UP                       &kp C_AC_SCROLL_UP      &trans  &trans  &trans   &trans    &trans
&kp LCTRL  &trans    &kp LEFT   &kp DOWN   &kp RIGHT  &trans                          &trans                  &trans  &kp RSHFT  &kp RSHFT   &trans    &trans
&kp LSHFT  &trans    &trans     &trans     &trans     &kp PG_DN  &trans    &trans     &kp C_AC_SCROLL_DOWN    &trans  &trans  &trans   &trans    &trans
                                &trans     &trans     &trans     &trans    &trans     &kp RALT                &trans  &trans
            >;
        };

        number_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  7  |  8  |  9   |   (  |   )  |                   |  [   |  ]    |   {   |   }  |   -   |   +   |
            // | CTRL  |  4  |  5  |  6   |   0  |   $  |                   |  ;   |  '    |   &   |   |  |   /   |   *   |
            // | SHIFT |  1  |  2  |  3   |   =  |   %  |Prntscrn|  |       |  ,   |  .    |   @   |   $  |   %   | SHIFT |
            //                     |      |      |      |        |  |       |      |  ALT  |       |

            display-name = "numbers";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                  &kp F7  &kp F8  &kp F9  &kp F10   &kp F11   &kp F12
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans                  &trans  &trans  &trans  &trans    &trans    &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &kp N0                  &trans  &trans  &trans  &trans    &trans    &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans
                        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "numbers";
        };

        sys {
            display-name="sys";
            bindings = <
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                 &kp CAPS           &kp KP_NUMLOCK  &kp SCROLLLOCK   &none  &studio_unlock   &out OUT_TOG
&none        &none         &none         &none         &none         &none                                        &none              &none           &none            &none  &none            &mac
&none        &none         &none         &none         &none         &none                                        &none              &none           &none            &none  &none            &win
&bootloader  &none         &none         &none         &none         &none           &none           &none        &none              &none           &none            &none  &none            &bootloader
                                         &none         &none         &none           &none           &none        &kp C_VOLUME_DOWN  &kp C_MUTE      &kp C_VOLUME_UP
            >;

            label = "sys";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        sys_win_layer {
           if-layers = <NAVI_WIN SYMBOL>;
           then-layer = <SYS>;
       };
       sys_mac_layer {
           if-layers = <NAVI_MAC SYMBOL>;
           then-layer = <SYS>;
       };
    };

    combos {
        compatible = "zmk,combos";
        combo_numbers {
            timeout-ms = <60>;
            key-positions = <19 20>;
            bindings = <&mo NUM>;
        };
        combo_navi_win {
            timeout-ms = <60>;
            key-positions = <30 31>;
            layers = <BASEWIN>;
            bindings = <&mo NAVI_WIN>;
        };
        combo_navi_mac {
            timeout-ms = <60>;
            key-positions = <30 31>;
            layers = <BASEMAC>;
            bindings = <&mo NAVI_MAC>;
        };
        combo_enter {
            timeout-ms = <60>;
            key-positions = <31 32 33>;
            bindings = <&kp ENTER>;
        };
        switch_win_on_win_combo {
            timeout-ms = <60>;
            key-positions = <52 12>; // CTRL+Tab
            layers = <BASEWIN>;
            bindings = <&switch_win_on_win>; // ALT+Tab
        };
        switch_tab_combo {
            timeout-ms = <60>;
            key-positions = <51 12>; // ALT + Tab
            layers = <BASEWIN BASEMAC>;
            bindings = <&switch_tab>; // CTRL/CMD+Tab
        };
        terminal_terminate_combo {
            timeout-ms = <60>;
            key-positions = <53 39>; // Space + Tab
            layers = <BASEWIN BASEMAC>;
            bindings = <&terminal_terminate>; // CTRL+C
        };
        switch_terminal_combo {
            timeout-ms = <60>;
            key-positions = <52 0>; // CTRL + ESC
            layers = <BASEWIN BASEMAC>;
            bindings = <&switch_terminal>; // CTRL/CMD+`
        };
        goto_line_combo {
            timeout-ms = <60>;
            key-positions = <52 0>; // CMD + G
            layers = <BASEMAC>;
            bindings = <&goto_line>; // CTRL+G
        };
    };
};